<br><br>


<!-- Simple Slider -->
<div id="carouselExampleSlidesOnly" class="carousel slide w-50 mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wowslider.com/sliders/demo-18/data1/images/hongkong1081704.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://jssors8.azureedge.net/demos/image-slider/img/px-beach-daylight-fun-1430675-image.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://jssors8.azureedge.net/demos/image-slider/img/faded-monaco-scenery-evening-dark-picjumbo-com-image.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <br><br>


<!-- Slider With Button -->
<div id="carouselExampleControls" class="carousel slide mx-auto w-50" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.jqueryscript.net/demo/Responsive-Full-Width-jQuery-Image-Slider-Plugin-skdslider/slides/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://wowslider.com/sliders/demo-78/data1/images/writing104091_1280.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://jssors8.azureedge.net/demos/full-width/img/wine-1600.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br><br>


  <!-- Create Custome Slider -->
  <div id="headId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <p class="d-block w-100 h-50 bg-primary text-light">Hello</p>
        </div>
        <div class="carousel-item">
            <p class="d-block w-100 h-50 bg-danger text-light">Krutik</p>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#headId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#headId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>