<button routerLink="accordion">Accordion</button>&nbsp;&nbsp;
<button routerLink="alert">Alert</button>&nbsp;&nbsp;
<button routerLink="badges">Badges</button>&nbsp;&nbsp;
<button routerLink="breadcrumb">Breadcrumb</button>&nbsp;&nbsp;
<button routerLink="buttons">Buttons</button>&nbsp;&nbsp;
<button routerLink="button-group">Button Group</button>&nbsp;&nbsp;
<button routerLink="card">Card</button>&nbsp;&nbsp;
<button routerLink="carousel">Carousel</button>&nbsp;&nbsp;
<button routerLink="close-button">Close-Button</button>&nbsp;&nbsp;
<button routerLink="collapse">Collapse</button>&nbsp;&nbsp;
<button routerLink="drop-downs">Drop-Downs</button>&nbsp;&nbsp;
<button routerLink="list-group">List-Group</button>&nbsp;&nbsp;
<button routerLink="modal">Modal</button>&nbsp;&nbsp;
<button routerLink="nav-tabs">Nav & Tabs</button>&nbsp;&nbsp;
<button routerLink="navbar">Navbar</button>&nbsp;&nbsp;
<button routerLink="offcanvas">Off-Canvas</button>&nbsp;&nbsp;
<button routerLink="pagination">Pagination</button>&nbsp;&nbsp;
<button routerLink="popovers">Popovers</button>&nbsp;&nbsp;
<button routerLink="progress">Progress</button>&nbsp;&nbsp;
<button routerLink="scrollspy">Scrollspy</button>&nbsp;&nbsp;
<button routerLink="spinners">Spinners</button>&nbsp;&nbsp;
<button routerLink="toasts">Toasts</button>&nbsp;&nbsp;

<router-outlet></router-outlet>